In [38]:
import pandas as pd
import numpy as np

In [48]:
pd.set_option("display.max_columns",None)

In [49]:
df = pd.read_csv(r"real_estate_cleaned.csv",index_col=0)

In [50]:
#Lets remove some unnecessary cols

In [51]:
df.sample(5)

,flat_type,price,flat_price,address,location,buildup_area,buildup_area_sqft,avg_price_sqft,price_per_sqft,age_of_property,new_age,possesion_status,which_floor,facing,furnishing,carpet_area,new_carpet_area,bedrooms,bathrooms,balcony,parking,new_parking,about_property
1856,2 BHK Flat,1.98 Cr,1.98,"Nane Pada, Mulund East, Mumbai",Mulund East,950 sq.ft,950.0,₹20.84 K/sq.ft,20840.0,2 BHK,NaN,"20th May, 2025",Middleof 54 floors,NaN,Semi Furnished,2,NaN,2.0,1.0,NaN,1 Covered and 1 Open Parking,Yes,Mulund is a developing locality in the eastern...
1424,3 BHK Flat,8.15 Cr,8.15,"Suraj Palette, Chandrakant Dhuru Wadi, Dadar W...",Dadar West,1759 sq.ft,1759.0,₹46.33 K/sq.ft,46330.0,3 BHK,NaN,"2nd Jul, 2024",Middleof 50 floors,NaN,Semi Furnished,1466 sq.ft,1466.0,3.0,3.0,1.0,2 Covered Parking,Yes,Well-appointed Club House with indoor games\r\...
2465,2 BHK Flat,2.1 Cr,2.10,"Tridhaatu Morya, Deonar Village, Govandi, Mumbai",Govandi,714 sq.ft,714.0,₹29.41 K/sq.ft,29410.0,Ready to move,NaN,NaN,unknown,South facing,NaN,614 sq.ft,614.0,2.0,2.0,1.0,1 Covered Parking,Yes,Tridhaatu Morya perfectly radiates a sense of ...
480,3 BHK Flat,9.4 Cr,9.40,"R A Residences, Kohinoor Mill, Dadar East, Mumbai",Dadar East,2500 sq.ft,2500.0,₹37.6 K/sq.ft,37600.0,3 Year Old,3.0,Ready to move,Middleof 45 floors,NaN,Unfurnished,1836 sq.ft,1836.0,3.0,4.0,3.0,3 Covered Parking,Yes,This 3 BHK Flat is offered for Sale in R.A Res...
661,1 BHK Flat,1.12 Cr,1.12,"Prem Tower, Jawahar Nagar, Goregaon West, Mumbai",Goregaon West,550 sq.ft,550.0,₹20.36 K/sq.ft,20360.0,2 Year Old,2.0,Ready to move,Middleof 18 floors,NaN,Fully Furnished,343 sq.ft,343.0,1.0,1.0,0.0,No Parking,no,its 1bhk with carpet area of 343sq.ft in new t...

In [52]:
df.drop(columns=['carpet_area','about_property'],inplace=True)

In [53]:
df.drop(columns=['price','address','buildup_area','avg_price_sqft',"possesion_status","facing","parking"],inplace=True)

In [54]:
df.head(5)

,flat_type,flat_price,location,buildup_area_sqft,price_per_sqft,age_of_property,new_age,which_floor,furnishing,new_carpet_area,bedrooms,bathrooms,balcony,new_parking
0,3 BHK Flat,2.30,others,1052.0,21860.0,1 Years Old,1.0,Lowerof 26 floors,Semi Furnished,915.0,3.0,2.0,3.0,Yes
1,3 BHK Flat,5.35,Khar West,1120.0,47770.0,3 BHK,NaN,Higherof 7 floors,Semi Furnished,NaN,3.0,NaN,0.0,Yes
2,3 BHK Flat,7.35,Juhu,1466.0,50140.0,1 Years Old,1.0,Higherof 16 floors,Semi Furnished,1222.0,3.0,3.0,1.0,Yes
3,2 BHK Flat,1.90,Mulund West,693.0,27420.0,2 Year Old,2.0,Higherof 42 floors,Semi Furnished,630.0,2.0,2.0,1.0,Yes
4,3 BHK Flat,2.45,Mulund West,937.0,26150.0,4 Year Old,4.0,Middleof 42 floors,Semi Furnished,781.0,3.0,3.0,0.0,Yes

In [55]:
df.rename(columns={"new_parking":"parking","new_carpet_area":"carpet_area"},inplace=True)

In [56]:
df.to_csv("real_estate_cleaned_v2.csv",index=False)